@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5faff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.btn--primary {
  background: #ff52bf;
  color: white;
  height: 30px;
  width: 10rem;
  border: none;
  border-radius: 25px;
  font-weight: bolder;
}

.content {
  text-align: center;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0;
  justify-content: space-between;
  align-items: center;
}
.navbar .btn--secondary {
  border: 1px solid #ff52bf;
  color: #ff52bf;
  border-radius: 25px;
  height: 30px;
  width: 7rem;
  background: white;
}

.main__bl {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 50px auto 50px auto;
}
.main__bl__item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .main__bl__item {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
  }
}
.main__bl h1,
.main__bl h2 {
  text-align: center;
}

#bl--introduction {
  height: 80vh;
  padding: 20px;
}

.item--bg {
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#mockup {
  background-image: url(images/screen-mockups.svg);
}

@media screen and (min-width: 800px) {
  #grow--together {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1rem;
  }
}
#grow--together--bg {
  background-image: url(images/illustration-grow-together.svg);
}

#conversation--bg {
  background-image: url(images/illustration-flowing-conversation.svg);
}

@media screen and (min-width: 800px) {
  #user {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1rem;
  }
}
#user--bg {
  background-image: url(images/illustration-your-users.svg);
}

.overview__item i {
  color: #ff52bf;
}

.bl__footer {
  background-color: #00252e;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 800px) {
  .bl__footer {
    position: relative;
  }
}
@media screen and (min-width: 800px) {
  .bl__footer #footer--brand {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.bl__footer__item {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 1rem;
  margin: auto 20px auto 20px;
}
@media screen and (min-width: 800px) {
  .bl__footer__item {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }
}
.bl__footer__item p {
  text-align: left;
}
@media screen and (min-width: 800px) {
  .bl__footer #contact {
    margin-top: 2rem;
  }
}
.bl__footer #social {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 90%;
  margin-top: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 800px) {
  .form {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
  }
}
.form--input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
}
.form--btn {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.form--btn button {
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
